.shopwindow{
    background:url('../images/shopwindow.png') no-repeat;
    background-position:center;
    height: 900px;
    padding:140px 100px;
    color:#1C1A1B;
}

.shopwindow h1{
    font-size: 46px;
    font-weight: bold;
    text-transform: uppercase;
}

.shopwindow hr{
    width: 0px;
    margin:auto;
    border-width:5px;
    border-color: #1F272D;
}

.shopwindow p{
    font-size: 36px;
    font-weight: bold;
    padding-bottom: 20px;
}

.brand{
    font-size: 17px;
}
.section .fa{
    font-size: 50px;
}


.section img{
    width: 100%;
}


.section{
    padding: 40px 0;
}

@media only screen and (max-width:600px){ 
    body {
        margin-top:190px;
    }

    .shopwindow{
        height: 400px;
        padding: 60px 0;
    }
}
    
.w3-blue {
    color: #1F272D!important; background-color: #DEDDDD!important;
}

.w3-blue2 {
    color: #f8f8f8!important; background-color: #1C1A1B!important;
}

.w3-blue3 {
    color: #f8f8f8!important; background-color: #1C1A1B!important;
}

.w3-blue4 {
    color: #f8f8f8!important; background-color: #1C1A1B!important;
}


:root{
    --pale-color: #fff;
    --dark-color: #254E7F;
}

svg{
    cursor: pointer;
}

#darkGroup {
    fill: var(--pale-color);
}

#paleGroup {
    fill: var(--dark-color);
}

#dark1,
#pale1,
#dark2{
    transition: all 1s ease;
}

#dark2{
    transform: translateX(-120%);
}

svg:hover #pale1 {
    transform: translateX(40%);
}

svg:hover #dark1 {
    transform: translateX(60%);
    opacity: 0;
}

svg:hover #dark2 {
    transform: translateX(0%);
}